@import "settings";
@import "foundation.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic);

$header-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;

$accent-color: #248F8D;
$accent-color-2: #CDCFB7;
$body-text-color: #30261C;

body {
  background-color: #FCFEF5;
  font-family: $body-font-family;
  color: $body-text-color;
}

a {
  color: $accent-color;
  border-bottom: solid #ddd 1px;
  display: inline-block;
  & :hover {
    color: darken($accent-color, 50%);
    border-bottom: darken($accent-color, 50%);
  }
  & :active {
    -webkit-transform: translateY(1px);
  }
}

.global-header {
  background-color: white;
  margin-bottom: 4rem;
  border-bottom: solid 1px #efefef;
  text-align: center;
  padding: 3rem 1.3rem;
  #site-icon {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    path {
      fill: $accent-color;
    }
  }
  .site-title {
    font-weight: normal;
    font-size: 1.3rem;
    padding-top: .3rem;
    color: $accent-color;
    margin: 0;
    font-family: $header-font-family;
  }
}

.global-footer {
  @extend .row;
  & > div {
    @extend .columns;
    text-align: center;
    padding: 1.3rem 1.3rem 2.6rem 1.3rem;
    color: #ccc;
  }
}

.stream {
  @extend .columns;
}

.post {
  //@extend .row;
  margin-bottom: 2rem;
  @extend .clearfix;
}

.post__title {
  font-size: 1rem;
}

.post__date {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: $header-font-family;
  color: #403831;
}

.post__tags {
  color: $accent-color-2;
}

.post__body {
  @extend .columns;
  @extend .large-8;
  iframe {
    width: 100%;
    margin-bottom: 1.3rem;
  }
  * {
    font-size: 1.2rem;
  }
}

.post__meta {
  @extend .columns;
  @extend .large-4;
  font-family: $body-font-family;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
