---
pageable: false
---

<div class="row">
  <div class="stream">

  <% page_articles.each_with_index do |article, i| %>
    <article class="post">
      <div class="post__meta">
        <div class="post__date">
          <span data-tooltip class="has-tip tip-right" data-options="show_on:large" title="<%= article.date.strftime('%B %e, %Y') %>">
          <%= elapsed_days("2014-06-01", article.date.to_s) %> days
          </span>
        </div>
      </div>
      <div class="post__body">
        <%= article.body %>
      </div>
    </article>
  <% end %>

  </div>
</div><!-- row -->

<!-- .strftime('%b %e') -->
