---
pageable: false
---

<div class="row">
  <div class="stream">

  <% page_articles.each_with_index do |article, i| %>
    <article class="post">
      <div class="post__meta">
        <div class="post__date"><%= elapsed_days("2014-06-01", article.date.to_s) %> days</div>
        <h2 class="post__title"><%= article.title %></h2>
        <ul class="post__tags">
          <% article.tags.each do |tag| %><li><%= tag %></li><% end %>
        </ul>
      </div>
      <div class="post__body">
        <%= article.body %>
      </div>
    </article>
  <% end %>

  </div>
</div><!-- row -->

<!-- .strftime('%b %e') -->
